/* begin navbar style */
.navbar{
    height: 60px;
    color:black;
}
.navbar ul {
    margin: 0;
}

.nav-link{
    color: #FCE308;
}

.navbar-brand{
    color: white;
}

#nav-left-side{
    align-content: flex-end;
}

/* begin admin dashboard style */
.main-content {
    position: relative;
    padding-top: 75px;
}

.main-content .buttons-and-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 100px;
    flex-wrap: wrap;
}

.main-content .buttons-and-stats .box {
    width: calc(100% / 5 - 15px);
    display: flex;
    align-items: center;
    padding: 15px 14px;
    justify-content: center;
    background: rgb(228, 228, 228);
    border-radius: 12px;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* content inside the box */
.main-content .buttons-and-stats .box_topic {
    font-size: 20px;
    font-weight: 500;
}

/* arrow icons */
.buttons-and-stats .indicator i {
    height: 20px;
    width: 20px;
}

/* the actual number in the box */
.main-content .buttons-and-stats .number {
    font-size: 35px;
    font-weight: 500;
    margin-top: 5px;
    display: inline-block;
}

/* big box for pending approval posts */
.main-content .pending-approved-box .box .title {
    font-size: 24px;
    font-weight: 500;
}

.main-content .pending-approved-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}