@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.navbar {
    padding: 0;
    height: 50px;
    color:black;
}

.navbar ul {
    margin: 0;
}

.nav-link{
    color: #FCE308;
}

.navbar-brand{
    color: white;
}

#admin_card {
    margin-top: 10%;
    margin-left: 15%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#deny_btn {
    padding: 9px 25px;
    background-color: rgb(184, 34, 34);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: 500;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
}

#approve_btn {
    padding: 9px 25px;
    background-color: rgb(16, 189, 71);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: 500;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
}