.navbar{
    
    height: 50px;

}

#row3{
    background-color: #34328F;
    margin-bottom: 3%;
  
    border-radius: 10px;
}

#rowt{
    margin-bottom: 3%;
    padding: 1%;
    border-radius: 10px;
}

.htitle{
    color:#FCE308 ;
    font-weight: bold;
}

#row4{
    background-color: white;
    
    padding: 2%;
    
    border-radius: 10px;
}

.ptitle{
    color:black;
    font-weight: bold;
}

.pbut{
    border: 2px solid #34328F;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #34328F;
    color: white;
}



#nav-left-side{
    align-content: flex-end;
}

#grad {
    margin-bottom: 50px;
    background-image: linear-gradient(to bottom right, #FBF560, #7E2986);
    padding: 10px;
}

#loginbut{
    background-color: #34328F;
    color: white;
    border: 2px solid #34328F;
    border-radius: 50px;
}

#regbut{
    background-color: white;
    color:#34328F;
    border:2px solid #34328F;
    border-radius: 50px;
}

#loginb{
    border: 5px solid black; 
    border-radius: 10px; 
    padding: 20px 30px ;
    
}
#homecontainer{
    
    display: flex;
    align-items: center;
}
.cardb{
    background-size: cover;
    background-color: #C4C4C4;
    margin-right: 0px;
    width:calc(0.1 * 200vw) ;
    height: calc(0.1 * 140vw);
   
    margin: 0px 7px 0px 7px;
    border-radius: 7px;
}
.cardb>div>p{
    color: #fff;
}
.cardb>div>h3{
    color: #fff;
}
.cardb>div>h2{
    color: #fff;
}
.cardb>img{
    float:left;left:0; position: absolute; width:calc(0.2 * 55vw); height:100%; border-radius: 7px;

}